{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

{% block content %}
<body>

<br>

<div class="input_content" style="margin-left: 2%;" >

    <form action="{% url 'count' %}">
        <p> 아래에 글자를 쓰세요.<p>
        <textarea cols="80%" rows="20%" name="fulltext" placeholder="글자를 쓰고 count 버튼을 눌러보세요."
        required="required">
        </textarea>
        <br>
        <input type="submit" class="btn btn-dark" value="count!"/>
    </form>

</div>

</body>
{% endblock %}

</html>
